body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #89FCD6;
    padding: 30px;
}
h2 {
    margin: 20px 0px 0px 20px;
    padding: 0;
}
div {
    border: 1px dashed black;
    margin: 0px 20px;
    padding: 10px;
}

.purpleRec, .blueBox, .pinkBox {
    display: inline-block;
    margin: 10px;
    box-sizing: border-box;
}
.purpleRec {
    height: 100px;
    width: 195px;
    background-color: #48187F;
    border: 3px solid #FA221D;
}

.blueBox {
    height: 100px;
    width: 100px;
    background-color: #0535F8;
    border: 1px solid #000;
    box-shadow: 6px 6px 5px #414141;
}

.pinkBox {
    height: 200px;
    width: 200px;
    background-color: #D77493;
    border: 1px solid #000;
}

.circle1 {
    width: 96px;
    height: 96px;
    border: 1px solid #000;
    border-radius: 50%;
    margin-left: 25px;
    padding: 25px 0px 0px 35px;
}

.circle2 {
    width: 123px;
    height: 123px;
    border: 1px solid #000;
    border-radius: 50%;
    margin-left: 15px;
    padding-top: 25px;
}

.circle3 {
    width: 146px;
    height: 146px;
    border: 1px solid #000;
    border-radius: 50%;
    margin-left: 10px;
}

.coalImg1 {
    width: 13px;
    height: 13px;
    margin: 5px;
}

.coalImg2 {
    width: 13px;
    height: 13px;
    margin: 0 auto;
    padding: 10px 0px;
    display: block;
}

.carrotImg {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.bottomRec {
    height: 200px;
    width: 200px;
    background-color: #F5F4DE;
    border: 1px solid #000;
    position: absolute;
    z-index: 1;
    margin-left: 0px;
}

.greenCircle {
    width: 165px;
    height: 165px;
    background-color: #1D7D1A;
    border: 1px solid #000;
    border-radius: 50%;
    margin-left: 0px;
    position: absolute;
    z-index: 2;
}

.marronSquare {
    height: 95px;
    width: 95px;
    background-color: #A22F2E;
    color: white;
    position: absolute;
    margin: 30px 0px 0px 35px;
    z-index: 3;
}

.marronSquare p {
    margin-top: 75px;
    text-align: center;
}

.blueCircle {
    width: 55px;
    height: 55px;
    background-color: #0535F8;
    border-radius: 50%;
    margin: 30px 0px 0px 35px;
    position: absolute;
    z-index: 4;
}

.fishIcon {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 5;
    margin: 55px;
}

.bottomSection {
    height: 220px;
}